/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/features export-ignore
/tests export-ignore
/behat.yml export-ignore
/infection.json export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
