parameters:
    level: max
    excludes_analyse:
        - %currentWorkingDirectory%/features/app/var
        - %currentWorkingDirectory%/tests
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/vendor
