<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true">
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="-1" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0" />
    </php>
    <testsuites>
        <testsuite name="CoopTilleulsUrlSignerBundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>features</directory>
            <directory>tests</directory>
            <directory>vendor</directory>
            <file>CoopTilleulsUrlSignerBundle.php</file>
            <file>DependencyInjection/Configuration.php</file>
        </exclude>
    </coverage>
</phpunit>
